.SobreNos {
    display: flex;               
    flex-direction: column;      
    justify-content: left;    
    align-items: center;         
    padding: 0 1.25rem;          
    text-align: left;           
    background-color: white;   
    margin: 1.25rem 0;    
  }
  
  .SobreNos h1 {
    font-size: 2.5rem;            
    margin-bottom: 1.25rem;       
    text-align: center;           
  }
  
  .SobreNos p {
    font-size: 1.2rem;            
    line-height: 1.6;             
    margin-bottom: 0.9375rem;     
    max-width: 50rem;             
    width: 100%;                 
  }
  
  #AboutFCTE {
    display: block;               
    margin-left: auto;            
    margin-right: auto;           
    width: 60%;                   
    max-width: 100%;              
    padding: 1.25rem; 
  }
  