.App-footer {
    background-color: #112632;
    color: white; 
    text-align: center;  
    padding: 20px 0;  
    position: relative;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content:center;
    flex-direction: row;
    column-gap: 32px;  
    align-items: center;
  }  

.navigation__footer {
    display: flex;
    align-items: center;
    column-gap: 48px;
    list-style: none;
    color: white;
}

.navigation__footer a {
  color: white;  
  text-decoration: none; 
}

.Unb-logo{
  max-width: 90px;
}
