header {
  background-color: #116FBB;
  display: flex;
  align-items: center;
  column-gap: 8.5rem;  /*Aumento do Gap*/
  width: 100%;
  padding-top: 0.0625rem;  
  padding-bottom: 0.125rem; 
  flex-direction: row;
  justify-content: center;
}

@media (max-width: 860px) {
  header {
    flex-direction: column; 
    align-items: center;  
    padding: 1rem 0; 
  }

  .navigation {
    display: flex;
    flex-direction: column;  
    row-gap: 1rem; 
    align-items: center; 
    width: 100%;  
    padding: 0;
  }

  .navigation__link {
    font-size: 1rem;  
    letter-spacing: normal;  
  }

  .App-logo, .unb {
    max-width: 4.375rem;  
  }

  #title {
    font-size: 1.5rem;  
    margin-bottom: 1rem;  
  }
}

#title a{
  text-decoration: none;
  font-family: var(--main-font);
  font-size: 2rem;  
  color: white;
  margin: 0;
}

.navigation {
  display: flex;
  align-items: center;
  column-gap: 3rem;  
  list-style: none;
  color: white;
  padding: 0;
  margin: 0;
}

.navigation a {
  text-decoration: none;
}

.navigation__link {
  color: white;
  font-size: 0.875rem;  
  font-weight: bold;  
  letter-spacing: 0.125rem; 
  text-transform: uppercase;
  position: relative;
}

.navigation__link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -0.125rem;  
  width: 70%;
  height: 0.0625rem; 
  background: white;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.6s;
}

.navigation__link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.6s;
}

.App-logo {
  max-width: 5.625rem;  
  margin-bottom: 0;
}

.unb {
  max-width: 5.625rem;  
  margin-bottom: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.logo-container {
  display: flex;
  align-items: center;
}
