.carrossel-container {
  position: relative;
  justify-content: center;
  padding: 1rem;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;   
  margin-right: auto;  
  width: 90%;          
  max-width: 60rem;    
}



.carousel-control-prev, 
.carousel-control-next {
  position: absolute;
  bottom: 0.5rem;
  top: auto;
  z-index: 10;
  font-size: 2rem;  
}

.carousel-control-prev {
  left: 0rem;
}

.carousel-control-next {
  right: 0rem;
}



.carousel-item-container {
  position: relative;
  width: 100%;  
  height: 40vh;  
}

.carousel-item-container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 15%;
  background-color: #112632;
}


.carousel-item-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-item-text {
  position: absolute;
  font-family: var(--main-font);
  bottom: 50%;
  left: 1rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  font-size: 2vw;  
  font-weight: bold;
  max-width: 80%;
  word-wrap: break-word;
}

.carousel-item-body {
  position: absolute;
  font-family: var(--main-font);
  bottom: 15%;
  left: 1rem;
  color: rgb(0, 0, 0);
  padding: 1rem;
  font-size: 1vw;
  max-width: 80%;
  word-wrap: break-word;
}

.carousel-item-transcicao{
  content: "";
  position: absolute;
  bottom: 2rem;
  left: 0;
  width: 100%;
  height: 100%; 
  background: linear-gradient(to top, rgb(255, 255, 255) 30%, rgba(52, 152, 219, 0) 100%);
  opacity: 1;
}

@media (max-width: 50rem) {
  .carrossel-container {
    width: 100%;  
    margin-left: 0;
    margin-right: 0;
  }

  .carousel-item-container {
    height: 30vh;  
  }

  .carousel-item-text {
    font-size: 4vw; 
    bottom: 50%;
  }

  .carousel-item-body {
    font-size: 2vw;  
    bottom: 10%;
  }
  .carousel-control-prev, 
.carousel-control-next {
  position: absolute;
  bottom: 0.1rem;
  top: auto;
  z-index: 10;
  font-size: 1rem; 
}
}
