.content-block {
    background-color: #112632;
    border-radius: none;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    padding: 1.25rem;
    max-width: 30%;
    width: 100%;
    text-align: center;
    max-height: 25%;
    margin: 1.25rem 0;
}

.title_box {
    font-size: 1.5rem;
    margin-bottom: 0.625rem;
    color: white;
}

.data_valor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem,;
}

.value_box {
    font-size: 1rem;
    color: white;
    margin-bottom: 0.9375rem;
}

.content_box {
    font-size: 0.875rem;
    color: white;
    margin-bottom: 1.25rem;
    text-align: justify;
}

.btn_box {
    background-color: #EFEFEF;
    color: black;
    font-size: 1rem;
    border: none;
    border-radius: 3.125rem;
    padding: 0.3125rem 4.375rem;
    cursor: pointer;
    box-sizing: border-box;
}

.btn_box:hover {
    text-decoration: underline;
}

.linha_box {
    width: 100%;
    height: 0.0625rem;
    background-color: #ddd;
    margin: 0 0 1.25rem 0;
}
@media (max-width: 63rem) {
    .content-block {
            max-width: 21.875rem;
            width: 100%;
            text-align: center;
    }
  }
